---
import Navbar from '../components/Navbar.astro';
import AboutMe from '../components/AboutMe';
import Footer from '../components/Footer.astro';

const name = "Muhammad Rizqi Amanan Habibulah";
const bio = "I am a passionate software developer with a love for building scalable applications and exploring new technologies.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
  </head>
  <body class="bg-gray-300">
    <Navbar />

    <main class="mt-24">
      <section class="py-10">
        <AboutMe name={name} client:load />
      </section>
    </main>
    <Footer/>
  </body>
</html>
