    ---
    import Navbar from '../components/Navbar.astro';
    import ProfileCard from '../components/ProfileCard.astro';
    import Footer from '../components/Footer.astro';
    ---
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Page</title>
    </head>
    <body class="bg-gray-200">
        <Navbar />

        <main class="mt-20">
        <section class="py-10">
            <ProfileCard />
        </section>
        </main>
        <Footer/>
    </body>
    </html>
