---
import Navbar from '../components/Navbar.astro'
import MyProject from '../components/MyProject.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
  </head>
  <body>
    <Navbar />
    <MyProject />
    <Footer />
  </body>
</html>
