---
import Navbar from '../components/Navbar.astro'
import MyProject from '../components/MyProject.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
    <!-- GSAP and ScrollTrigger CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" defer></script>
  </head>
  <body>
    <Navbar />
    <MyProject />
    <Footer />
  </body>
</html>
