---
import ProfileCard from '../components/ProfileCard.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
  </head>
  <body
    class="bg-gray-100 text-gray-800 min-h-screen flex items-center justify-center"
  >
    <ProfileCard />
  </body>
</html>
